/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Sacramento&family=Ubuntu:wght@400;500;700&display=swap');

/* Google Material Icons library */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
button{
   border: none;
   outline: none;
   background: transparent;
   color: var(--theme2);
   cursor: pointer;
}
html{
   font-size: 18px;
}
:root{
   --theme2:#eef;
   --theme1:#22222b;
   --theme3:#0acb14;
}
body{
   background:url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdXB3azYxODQ4NDUwLXdpa2ltZWRpYS1pbWFnZS1qb2I1NzItMS5qcGc.jpg") no-repeat;
   background-size: cover;
}
.section{
   width: 100vw;
   height: 100vh;
   position: relative;
   overflow: hidden;
   color: var(--theme2);
   font-family: 'Ubuntu', sans-serif;
}
.firstPage{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: #22222bbb;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}
header{
   display: flex;
   align-items: center;
   justify-content: end;
   /* background: #fff4; */
   height: 4.8rem;
   font: 400 1.5rem 'caveat Brush',sans-serif;
   padding: .3rem;
   position: relative;
   z-index: 5;
}
.heading{
   margin-right: 5vw;
   font-size: 2.5rem;
   color: var(--theme3);
}
.mode-switch{
   width: 4rem;
   height: 100%;
   font-size: 1.6rem;
   padding-top: .5rem;
}
.main{
   /* background: red; */
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   z-index: 5;
   height: 100%;
}
.main-left,.main-right{
   /* background-color: blue; */
   flex: 1;
   position: relative;
}
.main-left{
   text-align: right;
   padding-right: 5%;
}
.shareBtn{
   position: absolute;
   width: 2rem;
   height: auto;
   word-wrap: break-word;
   background: var(--theme2);
   color: var(--theme1);
   font-weight: 700;
   top: 50%;
   left: 0;
   padding:1.2rem  .5rem;
   line-height: 1.2;
   border-radius:0 1rem 1rem 0;
   transform: translateY(-50%) ;
   font-family: 'Caveat', cursive;
   font-size: .8rem;
}
.shareBtn b{
   display: inline-block;
   padding-top: .5rem;
}

.pfp{
   min-width: 360px;
   width: 60%;
   height: 360px;
   border-radius: 15px;
   object-fit: cover;
   /* filter: blur(10px); */
}
.main-right{
   padding-left: 4%;
}
.hello{
   font: 400 2.5rem 'Sacramento',cursive;
   line-height: .5;
}
.nameIntro{
   font: 600 4rem 'Ubuntu',sans-serif;
   line-height: 1;
}
#name{
   color: var(--theme3);
}
.bio{
   font: 400 1.5rem 'Ubuntu',sans-serif;
   padding: 1rem 1rem 1rem 0;
}
#techStackBtn{
   background: var(--theme2);
   color: var(--theme1);
   padding: .7rem 1.8rem;
   border-radius: 2rem;
   font: 400 1.4rem 'Caveat Brush',cursive;
   margin-top: 2rem;
}
.contacts{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   width: 60px;
   height: 70%;
}
.contacts button{
   font-size: 1.6rem;
   transition: all .2s;
}
.contacts button:hover{
   transform: scale(1.3);
   padding-right: 1rem;
}
.contacts .linkedin:hover{color: #507ec3;}
.contacts .stcOvf:hover{color: #f99b03;}
.contacts .instagram:hover{color: #e129fd;}
.contacts .gmail:hover{color: #fe2a2a;}
.footer{
   height: 3.8rem;
   position: relative;
   z-index: 5;
}
.nxtPgBtn{
   display: grid;
   place-items: center;
   font-size: 1.6rem;
   /* background: red; */
   width: 100%;
   height: 100%;
}


/* Strips' styling */
.strip{
   width: 12rem;
   height: 1rem;
   border-radius: 1rem;
   background: linear-gradient(to left, var(--theme3),transparent);
   position: absolute;
   z-index: 1;
}
.strip.one, .strip.two{
   transform: rotate(-30deg);
}
.strip.one{
   left: -2rem;
   top: 6rem;
}
.strip.two{
   left: 1rem;
   top: 2rem;
}
.strip.three, .strip.four{
   bottom: 0;
}
.strip.three, .strip.four{
   transform: rotate(-30deg);
}
.strip.three{
   right: -2rem;
   bottom: 6rem;
}
.strip.four{
   right: 1rem;
   bottom: 2rem;
}